@import "tailwindcss";

:root {
  --heading: #414040;
}

body {
  font-family: "poppins", sans-serif;
  color: #707070;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Eb garamond", serif;
  font-weight: 800;
  line-height: 1.18;
  color: var(--heading);
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 4.5rem;
  color: white;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

.btn {
  color: white;
  background-color: hsla(33, 39%, 53%, 1);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1.25rem 1.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: hsla(34, 33%, 46%, 1);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4.375rem;
}

.card:hover {
  background-image: linear-gradient(to bottom, #f3f3f3, transparent);
}
