@import "tailwindcss";

@layer base {
    :root {
        --font-sans: "poppins", ui-sans-serif, system-ui, sans-s;
        --font-heading: "EB Garamond", serif;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }
}
